

<!DOCTYPE html >
<html lang="en">
    <head>
        <title>GBS Dashboard</title>
	{% load static %}        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'esplookup/mystyle.css' %}">
        
    </head>
    
<body>
       
       <div class="col-12">
            <div class="jumbotron" >
                <h2> GBS Production Control - Dashboard </h2>
            </div>
       </div>
       
	          
       <!-- Main content- Includes a Form-->
       
      <div class="container" >
          
          <!--Title If needed=
          <div class="row" id="myTitle">
              <h3> Title goes Here </h3>
              <hr>
          </div>    -->   
       <div class="row" >
        <div class="body-con col-offset-3 col-6">
		
		<div class="col-offset-2 col-6">
	<h3> Response Json from API :</h3><br>
	<p> {{ output }}</p><br>
		<p> {{ command }} </p>
	   </div>
               
        </div>
       </div>
      </div>
      
<!--Footer Part-->


    <div class="foot col-12">
        <div class="row">
               

                   <div class="col-offset-5 col-4">
                       <p >Copyrights@GBS<p>
                   </div>
                 

        </div>
    </div>
</body>
  
</html>
